html {
  font-family: monospace;
  font-size: 1.1rem;
  background: #1A4971;
  color: #F9F4E5;
}

body {
  width: 98%;
  max-width: 35rem;
  margin: auto;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Shojumaru';
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

input {
  font-family: monospace;
}

.row {
  margin-top: 1rem;
  text-align: center;
}

.selection_btn {
  width: 30%;
  font-size: 4.5rem;
  border-style: none;
  padding-bottom: .6rem;
  border-radius: 10%;
}

.webapp {
  background-color: #99B512;
  border-radius: 2rem;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.webapp_btn {
  position: relative;
  line-height: 4rem;
  width: 22%;
  font-size: 4rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  box-shadow: 0 4px #999;
  background-color: #F9F4E5;
  cursor: pointer;
}

.double_btn {
  width: 44%;
}

.webapp_btn:active,
.active {
  box-shadow: 0 2px #666;
  border-top: 10px transparent;
  background-clip: padding-box;
  background: red;
  top: 2px;
}

.display_box {
  color: black;
  margin: auto;
  border-radius: 1.5rem;
  font-size: 5rem;
  text-align: right;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: white;
}

.output {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  background-color: transparent;
}

.output_large {
  line-height: 5rem;
  font-size: 5rem;
  text-align: right;
  border: none;
}

.output_small {
  line-height: 2rem;
  font-size: 2rem;
  text-align: left;
  margin-bottom: -1rem;
  border: none;
}